body{
    font-family:arial,sans-serif;
}

.main-navigation{
    display:flex;
    justify-content: flex-end;
    text-align:center;
    

}
li{
    list-style-type: none;
    margin:1rem; 
    color:#2c2c2d;
    border: 2px solid green;
   
    
}
a:link{
    text-decoration:none;
    color:#2c2c2d;
    font-size: 0.9em;
    border: 2px solid blue;
    
    
}
a:visited{
    color:#2c2c2d;

}
a:hover{
   text-decoration: underline;
   color:#404043;  
}
a:active{
   text-decoration: none;
    color:#404043; 
}
a.applications-container{
   margin-left:auto;
  
}
a.applications-container:hover{
    text-decoration:none;
    background-color: aqua;
}



a.user-profile-container{
   
}
a.user-profile-container:hover{
    text-decoration:none;
    



}
