body{
    font-family:Roboto, 'Segoe UI', Tahoma, sans-serif;
}

.main-navigation{
    display:flex;
    justify-content: flex-end;

}
li{
    list-style-type: none;
    margin:0.3rem;   
}
a:link{
    text-decoration:none;
    color:#5f6368;
}