/* default styling for the body section */
body{
    font-family:arial,sans-serif;
    color: #00000;
}
/* styling for the head-bar section */
.header-bar{
    display:flex;
    justify-content:flex-end;
    
   
}
/* list section */
li{
    list-style-type:none;
    margin:0.6em;
    font-size:0.8em ;
    
}

/* links styling for the .text-link class section */
a.text-link:link{
  text-decoration: none
    
}

a.text-link:visited{
   color: #000000;
}

a.text-link:hover{
text-decoration:underline;
}
a.text-link:active{
  color: #000000
}
/* links styling for the .text-link class section ends here*/

/* links styling for the .imaget-link class section */
a.image-link:link{
  text-decoration: none
   
   
}

a.image-link:visited{
 color: #000000;
}

a.image-link:hover{
text-decoration:underline;

}
a.image-link:active{
  color: #00000;
}
/* links styling for the .imaget-link class section */

/* .goog;e-apps-icon section */


}
.icon-square{
border:2px solid red; 
}
.google-apps-icon{ 
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-top: -0.5em; 
        
}


.user-profile-avatar{
    border-radius: 50%;
    width: 28px;
    height: 28px;
    margin-top: -0.5em;
        
}
/* google logo section */
.logo{

    display:flex;
     justify-content:center;
     margin-top: 6em;
    
}

.google-logo{
    margin: auto;
}
/* end of google logo section styling */

#form{
    width: 50%;
    border:2px solid red;
    border-radius: 5em;
    display:flex;
    margin-top: 2em;
    margin-left:auto;
    margin-right:auto;
    justify-content:flex-start;
    padding: 0.1em;
    

}